[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
django-environ = "*"
boto3 = "*"
python-decouple = "*"
python-dotenv = "*"
django-on-heroku = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
