{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'create_post' %}" class="inline-block">
        <button class="bg-orange-500 text-white font-semibold py-2 px-4 border border-orange-700 rounded shadow">
            Create a Post
        </button>
    </a>

    {% for post in posts %}
    <div class="border border-gray-300 p-4 mt-4 rounded">
        <!-- Make the title a clickable link to the post detail page -->
        <h2 class="text-xl font-semibold text-gray-800">
            <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
        </h2>
        <p class="text-gray-600">{{ post.content }}</p>
    </div>
    {% endfor %}
{% endblock %}
